---
import type { ComponentInstance } from "astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
export interface Props {
  icon?: any;
  href: string;
  title: string;
  iconAlt: string;
  iconType?: string;
  iconComponent?: ComponentInstance;
  [key: string]: any;
}
const {
  icon,
  href,
  title,
  iconAlt,
  iconType = "img",
  iconComponent,
  ...other
} = Astro.props;
---

<li
  class="flex flex-nowrap py-2 px-3 m-2 justify-center items-center bg-white rounded-xl text-sm text-slate-700 hover:shadow-lg transform transition-all duration-200 ease-in-out hover:scale-105 cursor-pointer"
>
  {
    iconType === "img" ? (
      <Image src={icon} alt="{iconAlt}" class="icon" />
    ) : (
      <Icon name={icon} class="icon" />
    )
  }
  <a
    href={href}
    {...other}
    class="text-slate-700 hover:text-slate-700"
    target="_blank"
    rel="noopener noreferrer">{title}</a
  >
</li>
<style>
  :root {
    --link-gradient: linear-gradient(
      45deg,
      #4f39fa,
      #da62c4 30%,
      var(--color-border) 60%
    );
  }
  .icon {
    @apply mr-2;
  }

  [astro-icon] {
    fill: #ffffff;
  }

  [astro-icon="mdi:instagram"] {
    fill: #ffffff;
    height: 55px;
    width: 55px;
  }
</style>
