---
import { Icon } from "astro-icon";

export interface Props {
	icon: any;
	href: string;
	title: string;
	iconAlt: string;
	iconType?: string;
	[key: string]: any;
}
const { icon, href, title, iconAlt, iconType = 'img', ...other } = Astro.props;
---

<li class="Card row">
	{iconType==="img" ?
	<img class="icon" src={icon} alt={iconAlt} /> :
	<Icon name={icon} class="icon" />}
	<a href={href} {...other}>{title}</a>
</li>
<style>
	:root {
		--link-gradient: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
	}

	.Card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 10px;
	}

	.Card>a {
		color: var(--text-color);
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
	}

	.Card.row {
		display: flex;
		flex-direction: row;
	}

	.Card .icon {
		margin: 10px;
	}


	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-image: var(--link-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card>a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1em 1.3em;
		border-radius: 0.35rem;

		background-color: #ffffff;
		opacity: 0.8;
	}

	[astro-icon] {

		fill: #ffffff;
	}

	[astro-icon="mdi:instagram"] {
		fill: #ffffff;
		height: 55px;
		width: 55px;
	}
</style>